.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background-color: blue; /* Fallback color */
    background-image: url('/images/DJI_0075.webp');
    background-size: cover; /* Ensures the image covers the whole container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative; /* Required to position the overlay */
    gap: 10rem;
    padding: 20px;
    flex-wrap: wrap;
}

.container::before {
    content: ''; /* Necessary to create a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 18, 51, 0.7); /* Blue overlay with 70% opacity */
    z-index: 1; /* Makes sure the overlay sits above the background but below content */
}

.container > * {
    z-index: 2; /* Makes sure the content (children of .container) sits above the overlay */
}

.imageContainer1 {
    width: 100%;
    max-width: 45rem;
    border-radius: 5px;
}

.imageContainer1 img {
    width: 100%;
    border-radius: 5px;
    height: 22rem;
}

.rightContainer, .leftContainer {
    color: white;
    z-index: 2;
    text-align: left;
}

.rightContainer {
    max-width: 45rem;
}

.leftContainer {
    max-width: 30rem;
}

.rightContainer h2, .leftContainer h2 {
    font-size: 2.5rem;
    color: #779cec; /* Specific heading color */
}

.rightContainer p, .leftContainer p {
    font-size: 1.5rem;
    margin-top: 2rem;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        gap: 5rem;
        padding: 30px 20px;
        background-position: top;
    }

    .imageContainer1 {
        max-width: 90%;
        margin-top: 2rem;
    }

    .rightContainer,
    .leftContainer {
        max-width: 100%;
        text-align: center;
    }

    .rightContainer h2,
    .leftContainer h2 {
        font-size: 2rem;
    }

    .rightContainer p,
    .leftContainer p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px) {
    .container {
        gap: 3rem;
        padding: 30px;
    }

    .imageContainer1 {
        max-width: 100%;
        margin-top: 1.5rem;
    }

    .rightContainer h2,
    .leftContainer h2 {
        font-size: 1.7rem;
    }

    .rightContainer p,
    .leftContainer p {
        font-size: 1rem;
    }
}
